$light-background-color: rgb(253, 253, 251);
$secondary-background-color: rgb(227, 20, 80);
$dark-background-color: rgba(0, 0, 0, 0.8);
$border-color: rgb(227, 235, 245);
$dark-shadow-color: rgba(170, 186, 204, 0.25);
$accent-shadow-color: rgba(227, 20, 80, 0.6);
$light-font-color: rgb(255, 255, 255);
$dark-font-color: rgb(27, 26, 23);
$light-dark-font-color: rgb(170, 186, 204);
$primary-font-family: "Roboto", 'Open Sans', sans-serif;

